{%extends 'base.html'%}
{%block content%}
<br>
<h3>
  Una gráfica consiste en un conjunto de objetos llamados vértices y un conjunto de líneas relacionados entre sí, de tal forma que a cada línea se le asocia un par de vértices.
<br><br>
  Para analizar las características de una gráfica, es posible hacer una representación matricial de la misma en dos modalidades:</h3>
  <h4>Matriz de Incidencia</h4>
  <h4>Matriz de Adyacencia</h4>
  <br>
  <h3>
    Matriz de Incidencia
  </h3>
  <h4>
    Gráficas no dirigidas: Relación vértices-aristas: 1 si los vértices son incidentes, 0 de lo contrario.</h4>
    <h4>Gráficas dirigidas: Relación vértices-vértices: 1 si el vértice es el inicio, -1 si el vértice es el fin, 0 si no son incidentes.
  </h4>
  <br>
  <h3>
    Matriz de Adyacencia
  </h3>
  <h4>
    Gráficas no dirigidas: Relación vértices-aristas: 1 si los vértices son adyacentes, 0 de lo contrario.</h4>
    <h4>Gráficas dirigidas: Relación vértices-vértices: 1 si una línea sale de \(v_i\) a \(v_j\), 0 de lo contrario.
  </h4>
<br>
<h3>Obtener la matriz de incidencia y adyacencia de una gráfica:</h3>

<form>
  <button class=" button" formaction="/graph">Dirigida</button>
</form>
<br>
<form>
  <button class="button" formaction="/grafica2"> No Dirigida</button>
</form>
<br>
<h5>Este sistema fue creado por: </h5>
<h6>
  Muciño B.</h6>
  <h6>Muñoz M.</h6>
  <h6>Paredes D.</h6>
  <h6>Tamayo Y.</h6>

</h6>

{% endblock %}
